{%extends "base.html"%}
    
{%block content%}

<center>

	<h1 class='font-weight-bold' style="color: aliceblue; font-size: 100px; margin-bottom: 0px; padding-bottom: 0px;">Predicted Caption </h1>

	<br>
	<br>
	
<img src="{{url_for('static', filename='file.jpg')}}" alt="image" height=340px>


<h2 class='text-black' style="color: aliceblue; font-size: 30px;" >
	{{data}}
</h2>

<button class='bstyle' onclick="myFunction()">Listen Caption</button>
<script>
	function myFunction() {
		var myf= '{{ data }}';
		var msg = new SpeechSynthesisUtterance();
		msg.text = myf;
		window.speechSynthesis.speak(msg);
	}
	</script>
</center>

{%endblock%}